@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* -----------Reset Document----------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Mouse Memoirs';
  box-sizing: border-box;
}

/* -----------Common----------- */
body {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* -----------Main container----------- */
.main-container {
  width: 85vw;
  min-height: 90vh;
  background: linear-gradient(
    to bottom left,
    rgba(131, 58, 10, 0.473),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.main-container .img {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: linear-gradient(
    to bottom left,
    rgba(238, 136, 35, 0.473),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(0.5rem);
  padding: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim1 5s infinite alternate ease-in-out forwards;
}

@keyframes anim1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.main-container .img > img {
  width: 80%;
  height: 70%;
}

.main-container .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 22, 1, 0.3);
}

.main-container .text .heading {
  font-size: 5rem;
  color: #4e1601;
  margin: 20px 0;
  word-spacing: 10px;
}

.main-container .buttons .btn-cta {
  font-size: 1.6rem;
  display: block;
  background-color: transparent;
  border: 4px solid #4e1601;
  color: #4e1601;
  padding: 20px 30px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.main-container .buttons .btn-cta:hover {
  border: 4px solid #ffffff;
  color: #ffffff;
}
